# Dependências pesadas (NUNCA suba para o GitHub)
/vendor
/node_modules

# Arquivos de configuração sensíveis (Senhas do Banco de Dados)
.env
.env.backup
.env.production

# Arquivos gerados pelo sistema e caches
/public/hot
/public/storage
/storage/*.key
/storage/debugbar